@import "tailwindcss";

@layer base {
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #050608;
    color: #e2e8f0;
    font-family: 'Inter', system-ui, sans-serif;
    user-select: none;
  }

  h1, h2, h3, .font-serif {
    font-family: 'Cinzel', serif;
  }
}
